.menu ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    background-color: white;
    height: 80px;
    padding-top: 0;

}

.menu li {
    position: relative;
    float: right;
    width: 150px;


}
.menu ul li ul {
    display: none;

}
.menu ul li:hover ul{
    display :block;

}

.menu li a {
    display: block;
    color: dimgray;
    text-align: center;
    padding: 16px;
    font-size: 28px;
    text-decoration: none;
    font-weight: bold;

}

.menu li a:hover {
    background-color: white;
    transition: .5s ease-in-out;

}
.str{
    text-align: center;
    padding-top:40px ;
    color: white;
    font-weight: lighter;
    font-family: 'Raleway', sans-serif;
    font-size: 30px;


}
.str2{
    background-color: rgba(20, 24, 28, 0.8);


}
h1{
    text-align: center;
    color: white;
    font-size: 60px;
    font-weight: 900;
    font-family: 'Raleway', sans-serif;
    font-style: initial;


}
body{
    background-image: url("folder/road.jpg");
    background-size: 2000px 1000px;
    background-repeat: no-repeat;


}
table tr td{
    color: white;
    height: 60px;
    background : rgba(20, 24, 28, 0.6);
    font-weight: bold;
    width: 100px;
    padding-left: 10px;
    padding-right: 10px;
}
input{
    background: rgba(20, 24, 28, 0.6);
    border: none;
}
.butt{
    color: white;
    text-align: right;
}
.butt2{
    color: white;
    text-align: right;
}
input[type=text]{
    width: 400px;
    height: 40px;
}
input[type=date]{
    width: 200px;
    height: 40px;

}
input[type=time]{
    width: 200px;
    height: 40px;
}
input[type=button]{
    width: 150px;
    height: 60px;
    text-align: center;
    background: rgba(135, 44, 44, 0.9);

}

