ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: white;
}

li {
    float: right;

}

li a {
    display: block;
    color: dimgray;
    text-align: center;
    padding: 16px;
    font-size: 18px;
    text-decoration: none;
    font-weight: bold;
}

li a:hover {
    background-image:url(Resimler/carphoto.jpg) ;
}
.str{
    text-align: center;
    padding-top:100px ;
    color: white;
    font-weight: bold;
}
h1{
    text-align: center;
    color: white;
}
body{
    background:rgba(20, 24, 28, 0.6);
}
table tr td{
    color: white;
    height: 40px;
    border: 0px;
    background : rgba(20, 24, 28, 0.6);
    font-weight: bold;
    width: 200px;
}
input{
    background: rgba(20, 24, 28, 0.6);
    border: none;
}
.butt{
    color: white;
    text-align: right;
}
.butt2{
    color: white;
    text-align: right;
}
